@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Add a stylist</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Details)
  @Html.TextBoxFor(model => model.Details)
  <input type="submit" value="Add Stylist"/>
}

<p>@Html.ActionLink("See all stylists", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>